<div class="container">
  <div class="row offset-2">
    <% @oodaposts.each do |oodapost| %>
      <div class="card col-md-5" style="width:15rem;">
        <img class="card-img-top" src="<%= gravatar_url(oodapost.user, { size: 500 }) %>" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= oodapost.title %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>    
    
